DISCORD_TOKEN=replace_me
REMINDER_CHANNEL_ID=replace_me
TIMEZONE=America/Toronto
WAKE_HOUR_24=13
WAKE_MINUTE=0
EVENING_HOUR_24=20
EVENING_MINUTE=0
WEEKLY_SUMMARY_DAY=0
WEEKLY_SUMMARY_HOUR_24=18
WEEKLY_SUMMARY_MINUTE=0
DASHBOARD_PORT=3001
